<template>
    <header class="mdc-toolbar">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <span class="mdc-toolbar__title">Lookup</span>
            </section>

            <section class="mdc-toolbar__section mdc-toolbar__section--align-end dm-right" role="toolbar">
                <button click.delegate="cancel()" class="mdc-button mdc-button--raised mdc-fab--plain">Cancel</button>
                <button click.delegate="accept()" class="mdc-button mdc-button--raised mdc-button--accent">Accept</button>
            </section>
        </div>
    </header>

    <ul class="mdc-list fp-list" selectable="selected-id.two-way: selectedId">
        <li class="mdc-list-item" repeat.for="item of items" data-id.bind="item.id">
            <div>${item.title}</div>
        </li>
    </ul>

    <footer>
        <input type="text" placeholder="search" value.bind="searchText" role="search">
    </footer>
</template>