<template>
    <pp-header router.bind="router">
        <button click.delegate="defaultAction()" class="mdc-button mdc-button--raised mdc-button--accent mdc-ripple-upgraded mdc-ripple-upgraded--background-active-fill mdc-ripple-upgraded--foreground-activation">Action 1</button>
    </pp-header>

    <ul class="mdc-list fp-list" selectable="selected-id.two-way: selectedId">
        <li class="mdc-list-item" repeat.for="item of items" data-id.bind="item.id">
            <div>${item.title}</div>
        </li>
    </ul>
</template>